
body{font-family: sans-serif;color:#666;}
a{color:#06f}
.block,.qa{border:1px solid #ddd;margin:1rem;display:flex;border-radius: 3px;}
.score{min-width:3rem;font-size:120%;text-align:center;padding:1rem;line-height:3rem;border-right:1px dotted #ddd;background:#eee;}
.qa a{color:#666}
.qa .accept{background:#dfd}
h1,
h3{margin:0;padding:1rem;font-weight: normal;}
footer,.info{font-size:80%;color:#999}
.p-md{padding:1rem;}
.d-flex{display:flex;}
.flex-grow{flex-grow:1}
.flex-wrap{flex-wrap: wrap}